<html>
<head>
    <title>Forum</title>
</head>
<body>
<h1 align="center">Forum</h1>
<div align="center">
    <form>
        <button formaction="/login">Sign in</button>
        <br> <br>
        <button formaction="/registration">Sign up</button>
    </form>
</div>

</body>
</html>