<html>
<head>
    <title>Forum</title>
</head>
<body>
<h1 align="center">Forum</h1>
<h2 align="center">Registration</h2>
<br>
<br>
<br>
<br>
<br>
<div align="center">
    <form method="post" action="/">
        <input type="text" name="firstName" placeholder="First name" size="50"> <br> <br>
        <input type="text" name="lastName" placeholder="Last name" size="50"> <br> <br>
        <input type="text" name="email" placeholder="E-Mail" size="50" autofocus="true"> <br> <br>
        <input type="text" name="password" placeholder="Password" size="50" > <br> <br>
        <button type="submit" >Register</button>
    </form>
</div>

</body>
</html>